{%extends 'base.html'%}
{%block body_block%}
<h4>Question:{{question.question}}</h4>

{%if current_user.username != question.question_user.user.username%}
  <form method="post">
    {%csrf_token%}
    <textarea placeholder="Enter your text here" name="Answer" rows="4" cols="80"></textarea>
    <input type="submit" value="Submit">
  </form>
{%endif%}

{%if answer%}
  {%for ans in answer%}
    <h4>Answer:{{ans.answer}}</h4>User:{{ans.answer_user.user.username}}
    Date:{{ans.answer_time|date:"SHORT_DATE_FORMAT"}}
    Time:{{ans.answer_time|time}}
    <br><br>
  {%endfor%}
{%else%}
<h3>No Answers yet posted</h3>
{%endif%}

{%endblock%}
